* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
html { 
    scroll-behavior: smooth; 
} 
 
body { 
    background-color: #0B1224; 
    color: #F8FAFC; 
    font-family: 'Inter', sans-serif; 
} 
 
header { 
    width: 100%; 
    height: 60px; 
    padding: 0 9%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #0B1224; 
    border-bottom: 1px solid #243556; 
} 
 
.logo { 
    display: flex; 
    align-items: center; 
    gap: 5px; 
    color: #F8FAFC; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: 700; 
} 
 
header span { 
    padding-bottom: 1px; 
} 
 
.logo span { 
    color: #8B5CF6; 
    font-size: 25px; 
    font-weight: 500; 
} 
 
nav { 
    display: flex; 
    align-items: center; 
    gap: 35px; 
} 
 
nav a { 
    position: relative;
    color: #CBD5E1; 
    text-decoration: none; 
    font-size: 14px; 
    transition: 0.3s; 
    padding: 22px 0;
} 
 
nav a:hover { 
    color: #F8FAFC; 
}


nav a.ativo {
    color: #F8FAFC;
}



nav a.ativo::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background: linear-gradient(
        90deg,
        #8B5CF6,
        #2196F3
    );
}

.inicio {
    min-height: 540px;
    padding: 70px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}




.apresentacao {
    max-width: 570px;
}

.ola {
    color: #8B5CF6;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 12px;
}

.apresentacao h1 {
    color: #F8FAFC;
    font-size: 58px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 8px;
}

.apresentacao h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;

    background: linear-gradient(
        90deg,
        #2196F3,
        #7C3AED
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}

.descricao {
    color: #CBD5E1;
    font-size: 16px;
    line-height: 1.6;
    max-width: 550px;
}


/* BOTÕES */

.botoes {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.botao-principal,
.botao-secundario {
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.botao-principal {
    color: white;
    background: linear-gradient(
        90deg,
        #7C3AED,
        #2196F3
    );
}

.botao-secundario {
    color: #F8FAFC;
    border: 1px solid #2196F3;
}

.botao-principal:hover,
.botao-secundario:hover {
    transform: translateY(-2px);
}


/* FOTO */

.foto {
    width: 300px;
    height: 330px;
    flex-shrink: 0;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(
        135deg,
        #7C3AED,
        #2196F3
    );
}

.foto img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 13px;
}